<h4 id="descTitle">{{name}}</h4><a class="waves-effect waves-light btn add-btn" onclick="removeSpellButton({{this.id}})"><i class="material-icons left">bookmark_remove</i></a>
<section id="description">{{{this.desc}}}</section>
