<div class="cover">
    <h1 id="userNameText">{{user.name}}s' Spells</h1>
</div>
<div class="accountPage">
  <h2 id="bookBelongsTo">This spellbook belongs to</h2>
</div>

<div class="newPage">
Spells appear here
</div>

 <script>
  var url = "/js/turn.js";
  $.getScript(url);
  </script>
{{!--^ format fixes a syncronous issue --}}