{{!-- USER'S SPELLBOOK --}}
<div class="cover">
  {{!-- <h1 id="userNameText">{{name}}s' Spells</h1> --}}
</div>

{{#each spells as |spell|}}
<div class="spellPage1">
<h2 id="spellName">{{this.name}}</h2>
{{> spell-stats}}
</div>

<div class="spellPage2">
{{> spell-desc}}
</div>
{{/each}}

<script>
  var url = "/js/turn.js";
  $.getScript(url);

</script>
{{!--^ format fixes a syncronous issue --}}