<div class="cover p1">
  <div id="userNameDiv">
    <h1 id="userNameText">Spellbook</h1>
  </div>
</div>

<div class="backCover p2">
  <h2 id="turnPageH2">Turn the page to create a new account</h2>
  <i class="material-icons right-arrow">arrow_forward</i>
</div>

<div class="accountPage p3">
  <h2 id="loginH2">Login to Your Spellbook</h2>

  <form class="form login-form">
    <div class="form-group">
      <div class="row">
        <div class="input-field col s9">
          <input id="email-login" type="text" class="validate form-input">
          <label for="email-login" id="emailLabel">Enscribe your email here:</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="input-field col s9">
          <input id="password-login" type="password" class="validate form-input">
          <label for="password-login" id="passwordLabel">Password</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button class="btn btn-primary submit loginBtn" type="submit">login</button>
      </div>

    </div>
</div>
</form>

<div id="createAccountPage page-4 p4">
  <h2 id="belongsToQ">To Whom Does This Spell Book Belong?</h2>

  <form class="form create-account-form">

<div class="row userNameRow">
    <div class="form-group">  
        <div class="input-field col s9 nameInputField">
          <input id="user_name" type="text" class="validate form-input">
          <label for="user_name" id="createNameLabel">Your Name Here</label>
        </div>
      </div>
    </div>
    <div class="row emailRow">
    <div class="form-group">
        <div class="input-field col s9 emailInputField">
          <input id="email" type="email" class="validate form-input">
          <label for="email" id="createEmailLabel">Enscribe your email here</label>
        </div>
      </div>
    </div>
    <div class="row passwordRow">
    <div class="form-group">
        <div class="input-field col s9 passwordInputField">
          <input id="password" type="password" class="validate input-form">
          <label for="password" id="createPasswordLabel">A password to protect your spells</label>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="form-group">
    <button class="btn waves-effect waves-light" id="createAccountBtn" type="submit" name="action">
      <i class="lni lni-bookmark"></i>Create
    </button>
</div>
</div>
</div>
</form>

<div class="sideOfCreatePage">
  
</div>

{{!-- Added the var to get rid of synchronous error --}}
<script>
  var url2 = "/js/turn.js";
  $.getScript(url2);

  var url = "/js/login.js";
  $.getScript(url);


</script>