    {{#each spells as |spell|}} 

        <div class="cover">
        <h4>{{spell.name}}</h4>

        <p>{{spell.desc}}</p>
                   
        </div>
<script type="text/javascript" src="/js/turn.js"></script>
