<div class="cover page">
    <h1 id="allspells-h1">Turn to see all spells!</h1>
</div>

{{#each spells as |spell|}}
<div class="desc-spells page">
<h2 id="spellName">{{this.name}}</h2><button class = "add-btn">+</button>
    {{> allSpells-stats}}
{{#if this.archetype}}
    <li class="spellStatsLi">Archetype</li>
    <li class="spellStatsLi">{{this.archetype}}</li>
{{/if}}
</div>

<div class="all-spells page">
    {{> allSpells-desc}}
</div>

 {{#if this.higher_level}}
    <div class="desc-spells">
        <h4 class="allspells-h4">{{spell.name}}</h4>
        <h5 class="desc-title">Higher Level</h5>
        <section id="description">{{{this.higher_level}}}</section>
    </div>
    {{/if}}
{{/each}};


<div class="backOfBookPage page">

</div>
<div class="backOfBook page">

</div>