
    {{#each spells as |spell|}} 
    {{!--   ?    ^   &     ^     --}}
        {{!-- user becomes an object (.this) --}}
    {{!-- <div id="book"> --}}
        <div class="cover">
        <h4>{{user.name}}</h4>

        <p>{{user.desc}}</p>
                   
        </div>
    {{!-- </div> --}}
<script type="text/javascript" src="/js/turn.js"></script>
