body {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/29/13/15/candle-3272201_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px 1px;
  /* ^ to get blur to cover more of bg w/o harsh line */
  /* /* display: inline-table; */
  overflow: hidden;
}

/* **********     Page header     **********  */
h1 {
  font-family: "Cinzel", serif;
  font-size: 4.2rem;
  line-height: 0;
  /* display: inline-flex; */
  color: red;
  /* position: absolute; */
  margin: 58px 0px 0px 160px;
}

/*  ********** Side nav ****************** */
/* a.sidenav-trigger {
  margin: 40px 0px 0px 60px;
  display: block;
} */
#menuIcon {
  font-size: 45px;
  color: red;
}

.sidenav {
  background-image: url("https://cdn.pixabay.com/photo/2014/10/04/15/29/paper-473630__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
}

.appName {
  font-family: "Cinzel", serif;
  color: red;
  font-size: 40px;
  margin: 60px 0px 14px 0px;
}

.sidenav li>a {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 23px;
}

/* **********     BOOK    ********** */
/* main.container.col {
  margin: 165px 0px 0px 0px;
} */

#book {
  width: 800px;
  height: 500px;
  /* margin: 12% 12%; */
}

/* empty pages */
#book .turn-page {
  background-color: white;
}

/* Front Cover  */
#book .cover {
  background-image: url("https://cdn.pixabay.com/photo/2018/07/16/16/55/background-image-3542403_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#book .cover h1 {
  font-family: "Cinzel", serif;
  color: red;
  text-align: center;
  font-size: 42px;
  line-height: 500px;
  margin: -125px 0px 0px 15px;
}


/* **********      Back of front-cover     **********  */
.backCover {
  background-image: url("https://cdn.pixabay.com/photo/2020/06/14/16/31/flyers-5298491__340.jpg");
  background-position: center;
  background-size: cover;
}
/* .newPage {
} */

/* **********     Turn.js's CSS     ********** */
#book .loader {
  /* background-image: url(loader.gif); */
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 238px;
  left: 188px;
}

#book .data {
  text-align: center;
  font-size: 40px;
  /* color: red; */
  line-height: 500px;
}

#controls {
  width: 800px;
  text-align: center;
  margin: 20px 0px;
  font: 30px arial;
}

#controls input,
#controls label {
  font: 30px arial;
}

/* Back cover of Login/Create account */
#turnPageH2 {
  font-family: "Cormorant Unicase", serif;
  font-size: 35px;
  padding: 118px 72px 16px 72px;
  text-align: center;
  font-weight: bold;
  
}
.right-arrow {
  margin: 0px 184px;
}

/* *********     LOGIN PAGE (p3)    ********* */
.accountPage {
  font-family: "Cormorant Unicase", serif;
  background-image: url("https://cdn.pixabay.com/photo/2017/01/29/17/13/background-image-2018761_960_720.jpg");
  background-position: -55px 70px;
}

#loginH2 {
  font-size: 35px;
  line-height: 110%;
  margin: 28px 0px 55px;
  padding: 0px 38px;
  text-align: center;
  font-weight: bold;
}

#emailLabel, #email-login,
#passwordLabel, #password-login {
  margin: 0px 0px 12px 48px;
  font-family: 'Cinzel';
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  text-align-last: center;
}
.loginBtn {
  background-color: red;
  margin: -1px 176px;
}

.loginBtn:hover {
  background-color: maroon;
}

/******************** CREATE ACCOUNT PAGE (page 4) ****************** */
.createAccountPage {
  font-family: "Cormorant Unicase", serif;
  background-image: url("https://cdn.pixabay.com/photo/2017/01/29/17/13/background-image-2018761_960_720.jpg");
  background-position: -55px 70px;
  overflow: hidden;
}

/* Centering "This book belongs to?" */
#belongsToQ {  
font-family: "Cormorant Unicase", serif;
font-size: 35px;
line-height: 110%;
margin-top: 28px;
padding: 0px 38px;
text-align: center;
font-weight: bold;
}

.create-account-form {
  margin-left: 78px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  width: 82%;
  letter-spacing: 1px;
  color: #000;
  text-align-last: center;
}
.nameInputField {
  margin-top: 47px;
} 

.emailInputField {
  margin: 30px 0px -21px 0px;
}

#createAccountBtn {
  background-color: red;
  margin: -15px 90px 0px 0px;
}

#createAccountBtn:hover {
  background-color: maroon;
}
.row {
   width: 100%;
}
#allSpellsBtn {
  text-align: center;
  display: inline;
  margin: 18px 0px 0px 695px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: red;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: static;
}


/* Logout button */
#logout {
  text-align: center;
  display: inline;
  margin: -60px 0px 0px 890px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: red;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  position: relative;
}

/* **********   Login Form     ********** */
/* label color */
.input-field label {
  color: #000;
  text-align: center;
  /* font-size: large; */
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: rgb(5, 34, 34);
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  color: #000;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type="text"].valid {
  color: #000;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  color: #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
  /* text-align: center; */
}

.input.placeholder {
  color: #000;
}

/* **********     Page on right of create account page    **********  */
.sideOfCreatePage {
  background-image: url("https://cdn.pixabay.com/photo/2015/11/08/05/58/scroll-1033117_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* **********     Spells Pages     ********** */
/* .spellPage {
background-image: url("https://cdn.pixabay.com/photo/2015/11/08/05/58/scroll-1033117_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */


/* All Spells Page */

.all-spells {
  font-family: "Cormorant Unicase", serif;
  background-image: url("https://cdn.pixabay.com/photo/2015/11/08/05/58/scroll-1033117_960_720.jpg");
  background-position: -55px 70px;
}
.allspells-h4 {
  font-size: 35px;
  line-height: 110%;
  margin: 18px 0px 30px;
  padding: 0px 28px;
  text-align: center;
  font-weight: bold;
}
.desc-title {
  font-size: 25px;
  line-height: 110%;
  margin: 10px 0px 10px;
  padding: 0px 10px;
  text-align: left;
  font-weight: bold;
}

.desc-spells {
  font-family: "Cormorant Unicase", serif;
  background-image: url("https://cdn.pixabay.com/photo/2015/11/08/05/58/scroll-1033117_960_720.jpg");
  background-position: -55px 70px;
}


.info-container{
  width: 50%;
  float: left;
}


.info-title{
  font-size: 18px;
  line-height: 110%;
  margin: 10px 0px 10px;
  padding: 0px 10px;
  text-align: center;
  font-weight: bold;
}

.info-value{
  font-size: 18px;
  line-height: 110%;
  margin: 10px 0px 10px;
  padding: 0px 10px;
  text-align: center;
}

/* **********    Media Queries, to be more responsive    ********** */
@media only screen and (max-width: 1050px) {
  #book {
    margin-left: 45px;
  }
}

@media only screen and (max-width: 950px) {
  #book {
    margin-left: -28px;
  }
}

@media only screen and (max-width: 875px) {
  #book {
    margin-left: -45px;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 57px 32px;
  }
  .cover {
    display:none;
  }
  .backCover {
    display: none;
  }
  #book {
    margin-left: -300px;
  }
}

@media only screen and (max-width: 660px) {
  body {
    padding: 57px 32px;
    background-position: top;
    background-color: currentcolor;
    overflow:visible;
}
  .cover {
    display:none;
  }
  .backCover {
    display: none;
  }
  #book {
    margin-left: -300px;
  }
}

@media only screen and (max-width: 559px) {
  body {
    padding: 57px 32px;
  }
  .cover {
    display:none;
  }
  .backCover {
    display: none;
  }
  .accountPage {
    background-position: -22px 84px;
    background-size: 108%;  
  }

  .turn-page-wrapper {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 110%;
    inset: 0px 0px auto auto;
    z-index: 3;
    margin: -95px 0px 0px 299px;
  }

  #book {
    margin-left: -300px;
  }
}
/* ****************  FONTS  **************** */
/*  font-family: 'Cinzel', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant Unicase', serif;
    font-family: 'Lato', sans-serif; */
